*.aux
*.bbl
*.blg
*.brf
*.lof
*.log
*.lot
*.out
*.pdf
!document/Graphics/uhlogo.pdf
*.backup
*.toc
*~
*.nlo
*.rar
*.loa
*.gz
*.fdb_latexmk
*.fls
*.py
*.bcf
*.xml
*.pdf_tex
.venv
docker
codes/.python-version
resultados
graficas
problemas
codes/make_bvh_files.blend
codes/make_bvh_files.blend1
*.zip
*.json
*.mp4
codes/tesis-generacion-lsc.ipynb
*.png